:root {
  --font-family-icons: CamvIconsMb;
}

@font-face {
  font-family: CamvIconsMb;
  src: url('camv-mb-icons.eot?pzuoll');
  src: url('camv-mb-icons.eot?pzuoll#iefix') format('embedded-opentype'),
    url('../assets/icons/camv-mb-icons.ttf?pzuoll') format('truetype'),
    url('../assets/icons/camv-mb-icons.woff?pzuoll') format('woff'),
    url('camv-mb-icons.svg?pzuoll#camv-mb-icons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.camv-icon-home:before {
  content: "\e900";
}
.camv-icon-success:before {
  content: "\e910";
}
.camv-icon-check:before {
  content: "\e911";
}
.camv-icon-check-done:before {
  content: "\e912";
}
.camv-icon-filter-check:before {
  content: "\e913";
}
.camv-icon-filter-delete:before {
  content: "\e914";
}
.camv-icon-information:before {
  content: "\e915";
}
.camv-icon-error:before {
  content: "\e916";
}
.camv-icon-warning:before {
  content: "\e917";
}
.camv-icon-prev-page:before {
  content: "\e918";
}
.camv-icon-list-close:before {
  content: "\e919";
}
.camv-icon-list-open:before {
  content: "\e91a";
}
.camv-icon-first-page:before {
  content: "\e91b";
}
.camv-icon-last-page:before {
  content: "\e91c";
}
.camv-icon-arrow-right:before {
  content: "\e91d";
}
.camv-icon-arrow-left:before {
  content: "\e91e";
}
.camv-icon-arrow-up:before {
  content: "\e91f";
}
.camv-icon-arrow-down:before {
  content: "\e920";
}
.camv-icon-refresh:before {
  content: "\e921";
}
.camv-icon-reload:before {
  content: "\e922";
}
.camv-icon-log-in:before {
  content: "\e923";
}
.camv-icon-log-out:before {
  content: "\e924";
}
.camv-icon-face-id:before {
  content: "\e925";
}
.camv-icon-touch-id:before {
  content: "\e926";
}
.camv-icon-token:before {
  content: "\e927";
}
.camv-icon-lock:before {
  content: "\e928";
}
.camv-icon-whatsapp:before {
  content: "\e929";
}
.camv-icon-qr-code:before {
  content: "\e92a";
}
.camv-icon-chat-info:before {
  content: "\e92b";
}
.camv-icon-location-home:before {
  content: "\e92d";
}
.camv-icon-chat-message:before {
  content: "\e92e";
}
.camv-icon-close:before {
  content: "\e92f";
}
.camv-icon-cloud-download:before {
  content: "\e930";
}
.camv-icon-bell:before {
  content: "\e931";
}
.camv-icon-phone-call:before {
  content: "\e932";
}
.camv-icon-key:before {
  content: "\e933";
}
.camv-icon-eye-hidden:before {
  content: "\e934";
}
.camv-icon-eye-show-visible:before {
  content: "\e935";
}
.camv-icon-lock-password:before {
  content: "\e936";
}
.camv-icon-user-secure:before {
  content: "\e937";
}
.camv-icon-block:before {
  content: "\e938";
}
.camv-icon-lowercase:before {
  content: "\e939";
}
.camv-icon-numerical-character:before {
  content: "\e93a";
}
.camv-icon-special-character:before {
  content: "\e93b";
}
.camv-icon-uppercase:before {
  content: "\e93c";
}
.camv-icon-remove:before {
  content: "\e93d";
}
.camv-icon-arrow-download:before {
  content: "\e93e";
}
.camv-icon-eye-clear:before {
  content: "\e93f";
}
.camv-icon-eye-visible:before {
  content: "\e940";
}
.camv-icon-user-profile:before {
  content: "\e941";
}
.camv-icon-exchange-data:before {
  content: "\e942";
}
.camv-icon-money-hand:before {
  content: "\e943";
}
.camv-icon-mobile-transfer:before {
  content: "\e944";
}
.camv-icon-edit-note:before {
  content: "\e945";
}
.camv-icon-edit-pencil:before {
  content: "\e946";
}
.camv-icon-arrow-transfer:before {
  content: "\e947";
}
.camv-icon-transaction-nextr:before {
  content: "\e948";
}
.camv-icon-transfer-quickly:before {
  content: "\e949";
}
.camv-icon-target-goal:before {
  content: "\e94a";
}
.camv-icon-add-page:before {
  content: "\e94b";
}
.camv-icon-alarm-clock:before {
  content: "\e94c";
}
.camv-icon-calendar:before {
  content: "\e94d";
}
.camv-icon-eye-incognito-off:before {
  content: "\e94e";
}
.camv-icon-eye-incognito-on:before {
  content: "\e94f";
}
.camv-icon-arrow-refresh-current:before {
  content: "\e950";
}
.camv-icon-saving-account:before {
  content: "\e951";
}
.camv-icon-checking-account:before {
  content: "\e952";
}
.camv-icon-productst:before {
  content: "\e953";
}
.camv-icon-payment:before {
  content: "\e954";
}
.camv-icon-menu-burger:before {
  content: "\e955";
}
.camv-icon-contacts-support:before {
  content: "\e956";
}
.camv-icon-products-active:before {
  content: "\e957";
}
.camv-icon-protection:before {
  content: "\e958";
}
.camv-icon-certificate-medal:before {
  content: "\e959";
}
.camv-icon-location:before {
  content: "\e95b";
}
.camv-icon-app-news:before {
  content: "\e95c";
}
.camv-icon-happy-face:before {
  content: "\e95d";
}
.camv-icon-menu-burguer-circle:before {
  content: "\e95e";
}
