:host {
  display: block;
}

.camv-loading{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
  &__overlay{
    background: rgba(0,0,0,0.6);
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

.isopen{
  opacity: 1;
  visibility: visible;
}